---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Members from '../components/Members.astro';
import Discography from '../components/Discography.astro';
import LiveSchedule from '../components/LiveSchedule.astro';
import '../styles/global.css';
---

<Layout title="RATA m8 | Official Website">
    <main>
        <Hero />
        <About />
        <Members />
        <Discography />
        <LiveSchedule />
    </main>
</Layout>